html, body {
    margin: 0;
    height: 100%;
 }
 #navigation {
    z-index: 99;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    position: fixed;
    border-top: solid black 2px;
    display: flex;
    background-color : white;
 }
 #contents {
    height: 100%;
    padding: 30px;
 }
 #header {
    height: auto;
 }
 #title{
     padding: 30px;
 }
 #subheader {
    height: auto;
 }
 #subtitle{
   padding: 30px;
 }
 .icon{
   padding: 30px;
   width: 1%;
   flex: 1;
 }